{% set exclude_sidebar = true %}
{% set exclude_header = true %}
{% extends 'base.html.twig' %}

{% block title %}403{% endblock %}

{% block head %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<main class="w-100 d-flex justify-content-center ">
		<section class='w-50 p-3'>
			<h2>Error 403: Jij hebt geen toestemming tot deze pagina</h2>
			<a class="logout-link btn bg-color-sky-blue" href="{{ path('logout') }}">Uitloggen</a>
		</section>
	</main>
{% endblock %}